<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="https://kit.fontawesome.com/b4cabf1ece.js" crossorigin="anonymous"></script>
    <title>Diogo Card</title>
</head>
<body>
    <section>
        <div  class="card">
            <div class="top-color"></div>
            <img class="profile-img" src="static/images/android-chrome-512x512.png" alt="profile-img">
            <h1>Diogo Kaster</h1>
            <div class="desc">
                <p>I'm a Computer Science Student looking for a job to learn together
                    with leaders and professionals that already are in the job market. 
                    Currently studying python, I can quickly learn new programming languages ​​and work methodologies.</p>
            </div>
            <div class="social-media">
                <a href="https://www.instagram.com/diogo_kaster/" target="_blank" class="fa-brands fa-instagram"></a>
                <a href="https://www.linkedin.com/in/diogokaster/" target="_blank" class="fa-brands fa-linkedin"></a>
                <a href="https://github.com/DiogoKaster" target="_blank" class="fa-brands fa-github"></a>
            </div>
        </div>
    </section>
</body>
</html>